.forms {
  background-color: #E7D1C9 !important;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 12px;
}

.forms > div,
.forms > label,
.forms > span,
.forms > div form {
  margin: 0; 
  padding: 0; 
  background-color: #E7D1C9 !important;
}

.fromWidth{
  width: 600px !important;
  margin: auto;
}

.form-container {
  background-color: #F6F2F0 !important;
  margin-top: 80px;
  border-radius: 20px;
  padding: 0 2rem;
  overflow-y: auto;      
  box-sizing: border-box; 
}

.forms.flex.justify-center.mb-6 {
  margin-bottom: 0.5rem !important; 
}

.background {
  background-color: #F6F2F0 !important;
}
.form > button {
  margin: 0;
  padding: 0;
}

.swal-popup {
  border-radius: 20px;
  font-family: 'Cairo', sans-serif;
  padding: 1.5rem;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.swal-title {
  font-size: 1.6rem;
  color: #000000;
  font-weight: bold;
}

.swal-text {
  font-size: 1.1rem;
  color: #000000;
}

.swal-confirm {
  background-color: #E7D1C9 !important;
  color: black !important;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.swal-confirm:hover {
  background-color: #D0B49F !important;
}

.swal-icon{
  background-color: #F6F2F0 !important;
  border: none;
}

@media (max-width: 425px) {
  .fromWidth{
    width: 100% !important;
    padding: 0 2rem;
  }
}